// Variables

$brand-primary: #fed136 !default;
$brand-danger: #e74c3c !default;
$gray-darkest: #222 !default;
$gray: #777 !default;
$gray-lighter: #f7f7f7 !default;
$placeholder-text: #bbbbbb !default;
$header-image: '../img/header-bg.jpg' !default;
